@import "tailwindcss";

@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --color-black-100: #000319;
  --color-blue-100: #c1c2d3;
  --color-purple: #cbacf5;
}

@import "tailwindcss";

@theme inline {
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}


@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@layer utilities {
  .bg-grid-black-100 {
    background-image:
      linear-gradient(to right,
        rgba(15, 23, 42, 0.2) 2px,
        transparent 2px),
      linear-gradient(to bottom,
        rgba(15, 23, 42, 0.2) 2px,
        transparent 2px);
    background-size: 80px 80px;
  }

  .bg-grid-white {
    background-image:
      linear-gradient(to right,
        rgba(255, 255, 255, 0.03) 3px,
        transparent 3px),
      linear-gradient(to bottom,
        rgba(255, 255, 255, 0.03) 3px,
        transparent 3px);
    background-size: 80px 80px;
  }
}